<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 

<mapper namespace="mapper.memberMapper">	
	
	<insert id="insertMember">
		INSERT INTO USER_INFO(user_id, user_name, user_email, user_pw, date) VALUES(#{userid}, #{username}, #{useremail}, #{userpw}, #{Reg_date});
	</insert>
</mapper>